@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation de zoom lent pour l'image de fond (Ken Burns) */
@keyframes slow-zoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.animate-slow-zoom {
  animation: slow-zoom 20s infinite alternate ease-in-out;
}

